.DS_Store
.env*
node_modules

# React Router / Vite
.react-router
build
.firebase/

# typescript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Optional caches
.npm
.eslintcache
.vercel

# Coverage
coverage
.nyc_output
